.header{
    display: flex;
    justify-content: center;
    align-items: end;
    position: sticky;
}
.header span{
    display: flex;
    
}
.logo{
    display: flex;
    height: 7vh;
    width: 8vh;
}